@value makerWhite from '../../common/color.css';
@value loginDivWidth from '../../common/size.css';

.login {
  width: 30em;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  background-color: white;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  color: chocolate;
}

.title {
  margin-bottom: 0.5em;
}

.buttons {
  list-style: none;
  padding: 0;
}

.button {
  margin-bottom: 1.5em;
  outline: none;
  border: solid rgb(250, 216, 184) 0.2em;
  width: 25em;
  padding: 0.5em;
  border-radius: 2em;
  font-size: 1em;
  font-weight: bold;
  background-color: white;
  color: chocolate;
}
